<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Company Type Owner Contact -->
    <record id="action_partner_company_type_owner" model="ir.actions.act_window">
        <field name="name">Ownership Contact</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">res.partner</field>
        <field name="view_mode">kanban,tree,form,activity</field>
        <field name="domain">[('company_type', '=', 'owner')]</field>
    </record>

    <!-- Additional Contact type -->
    <record id="action_additional_contacts_contact_type" model="ir.actions.act_window">
        <field name="name">Contact Type</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">contact.type</field>
        <field name="view_mode">tree,form</field>
        <!-- <field name="domain">[('company_type', '=', 'company')]</field> -->
    </record>

    <menuitem action="action_partner_company_type_owner"
              id="menu_partner_company_type_owner"
              sequence="4"
              parent="contacts.menu_contacts"/>

    <menuitem action="action_additional_contacts_contact_type"
              id="menu_additional_contacts_contact_type"
              sequence="101"
              parent="contacts.res_partner_menu_config"/>

    <!-- Company Type Customer Company Contact -->
    <record id="action_partner_company_type_customer_company" model="ir.actions.act_window">
        <field name="name">Customer Company</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">res.partner</field>
        <field name="view_mode">kanban,tree,form,activity</field>
        <field name="domain">[('company_type', '=', 'company')]</field>
    </record>

    <menuitem action="action_partner_company_type_customer_company"
              id="menu_partner_company_type_customer_company"
              sequence="1"
              parent="contacts.menu_contacts"/>

    <!-- Company Type Customer Management Company -->
    <record id="action_partner_company_type_management" model="ir.actions.act_window">
        <field name="name">Management Company</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">res.partner</field>
        <field name="view_mode">kanban,tree,form,activity</field>
        <field name="domain">[('company_type', '=', 'management')]</field>
    </record>

    <menuitem action="action_partner_company_type_management"
              id="menu_partner_company_type_management"
              sequence="2"
              parent="contacts.menu_contacts"/>

    <!-- Company Type Customer Individual -->
    <record id="action_partner_company_type_person" model="ir.actions.act_window">
        <field name="name">Individual Contact</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">res.partner</field>
        <field name="view_mode">kanban,tree,form,activity</field>
        <field name="domain">[('company_type', '=', 'person')]</field>
    </record>

    <menuitem action="action_partner_company_type_person"
              id="menu_partner_company_type_person"
              sequence="3"
              parent="contacts.menu_contacts"/>

    <menuitem id="contacts.res_partner_menu_config"
              name="Configuration"
              parent="contacts.menu_contacts"
              groups="base.group_system"
              sequence="3"/>

    <!-- Assignation Action -->
    <record id="view_partner_tree_assignation_contacts" model="ir.ui.view">
        <field name="name">res.partner.assignation.tree</field>
        <field name="model">res.partner.clx.child</field>
        <field eval="8" name="priority"/>
        <field name="arch" type="xml">
            <tree string="Contacts">
                <field name="parent_id" string="Name"/>
                <field name="contact_type_ids" string="Contact Type" widget="many2many_tags"/>
            </tree>
        </field>
    </record>

    <record id="action_partner_assignation_contacts" model="ir.actions.act_window">
        <field name="name">Contacts</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">res.partner.clx.child</field>
        <field name="view_mode">tree,form</field>
        <field name="view_id" ref="view_partner_tree_assignation_contacts"/>
    </record>

    <menuitem id="contacts.res_partner_menu_contacts"
              name="Contacts"
              action="contacts.action_contacts"
              parent="contacts.menu_contacts"
              sequence="10"/>
    <menuitem id="contacts.res_partner_menu_config"
              name="Configuration"
              parent="contacts.menu_contacts"
              groups="base.group_system"
              sequence="20"/>
</odoo>
